@media screen and (max-width: 60em) {
.dropbox {
  left: 50%;
  margin-left: -10em;
  margin-top: 0;
}

.plain {
  top: 2em;
  margin-top: 0;
}

#center-container {
  left: 50%;
  top: 27em;
}

.button-text {
  left: 50%;
}

.crypt {
  top: 32em;
}
}
